$color: #ccc;
$bg-primary: #f1f2f6;
$bg-color: #aab2bd;
$body-color: #000 !default;
$body-bg: #fff !default;
$font-size-base: 14px !default;
$line-height-base: 1.4 !default;
$line-height-title: 36px;
$font-family-base: Arial, sans-serif !default;
$margin-bottom-p: 15px !default;
$link-color: blue !default;
$link-color-hover: lighten($link-color, 10%)!default;
$link-decoration: none !default;
$link-decoration-hover: none!default;
$heading-font-family: inherit !default;
$heading-font-weight: 400 !default;
$heading-color: #333;
$heading-font-size-1: 36px !default;
$heading-margin-1: 1em !default;
$heading-font-size-2: 30px !default;
$heading-margin-2: 1em !default;
$heading-font-size-3: 24px !default;
$heading-margin-3: 1em !default;
$heading-font-size-4: 18px !default;
$heading-margin-4: 1em !default;
$heading-font-size-5: 14px !default;
$heading-margin-5: 1em !default;
$heading-font-size-6: 12px !default;
$heading-margin-6: 1em !default;

$breadcrumbs-bg-color: #e6e9ed;
$breadcrumbs-text-color-light: #fff;
$breadcrumbs-text-color-dark: #434a54;
$breadcrumbs-item-bg-color: #3bafda;
$breadcrumbs-item-bg-color-active: #4fc1e9;
$breadcrumbs-separator-color: #2494be;


body {
    color: $body-color;
    background-color: $body-bg;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-family: $font-family-base;
}

p {
    margin-top: 0;
    margin-bottom: $margin-bottom-p;
}

a {
    color: $link-color;
    text-decoration: $link-decoration;
    &:hover {
        color: inherit;
        text-decoration: $link-decoration-hover;
    }
    &:focus{
        text-decoration: none;
        color: inherit;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    color: $heading-color;
}

h1,
.h1 {
    font-size: $heading-font-size-1;
    margin: $heading-margin-1;
}

h2,
.h2 {
    font-size: $heading-font-size-2;
    margin: $heading-margin-2;
}

h3,
.h3 {
    font-size: $heading-font-size-3;
    margin: $heading-margin-3;
}

h4,
.h4 {
    font-size: $heading-font-size-4;
    margin: $heading-margin-4;
    line-height: $line-height-title;
}

h5,
.h5 {
    font-size: $heading-font-size-5;
    margin: $heading-margin-5;
}

h6,
.h6 {
    font-size: $heading-font-size-6;
    margin: $heading-margin-6;
}
