$fontSize-smallest: 12px;
$fontSize-smaller: 13px;
$fontSize-small: 14px;
$fontSize-base: 16px;
$fontSize-large: 22px;
$fontSize-larger: 32px;


$lineHeight-tight: 22px;
$lineHeight-base: 24px;
$lineHeight-loose: 26px;


$brand-color: #00e0d0;
$white: white;
$gray: #ebebeb;
$lightgray: #bababc;
$black: #413d4b;
