 $step-margin: 10px !default;
 $numbers-steps-margin: 10 !default;
 $color-inverse: white !default;

// classes for margins
 @for $step-margin from 1 through $numbers-steps-margin {
            .mb#{$step-margin}0 {
                margin-bottom: $step-margin*$numbers-steps-margin+'px';
            }
        }


.left {
	float: left;
}
.right {
	float: right;
}
.center {
	margin: 0 auto;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.inverse {
	color: $color-inverse !important;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.image-wrap img {
	width: 100%;
	height: auto;
}
.image-wrap-height img {
	height: 100%;
	width: auto;
}
