@import 'components/variables.scss';
@import 'components/mixins.scss';

@import 'components/global.scss';
@import 'components/type.scss';
@import 'components/btns.scss';
@import 'components/forms.scss';
@import 'components/format.scss';
@import 'components/grid.scss';
@import 'components/blocks.scss';
@import 'components/features.scss';


.block-inverse {
	background-color: $color-dark;
}
p, .h1, .h2, .h3 {
	@extend .text-center;
}
.h3 {
	font-weight: 400;
}
.h2-line:after {
	content: "";
	display: block;
	position: relative;
	@extend .center;
	top: 25px;
	height: 2px;
	width: 170px;
	background-color: $color-brand;
}
.btn-large {
	color: black;
	text-transform: uppercase;
}