*{
	margin: 0;
	padding: 0;
	list-style: none;
	-webkid-box-sizing: border-box;
	-mor-box-sizing: border-box;
	-box-sizing: border-box;
}

html, body{
	height: 100%;
	font-family: Arial, sans-serif;
}

.clearfix:after{
	content: '' ;
	display: block;
	clear: both;
}
.wrapper{
	display: table;
	overflow: hidden;
	height: 100%;
	width: 100%;
	width: 1920px;
	table-layout: fixed;	
}
.w1{
	display: table-row;
	height: 100%;
}
.footer{
	overflow: hidden;
	width: 1920px;
}

